footer {
    background: #6f6e6e;
    color: white;
    left: 0;
    right: 0;
    padding: 10px 0 10px 0;
    bottom: 0;
    display: inline-block;
    width: 100%;
    p {
        text-align: center;
        font-size: 15px;
    }
}