footer {
    margin-top: 6%;
    // background: $orange;
    background: linear-gradient(to right, #e4c254, $orange);
    color: white;
    left: 0;
    right: 0;
    padding: 10px 0 10px 0;
    bottom: 0;
    display: inline-block;
    width: 100%;
    ul {
        font-size: 2rem;
        display: flex;
        color: white;
        justify-content: center;
        li {
            list-style-type: none;
            margin-right: 0.5%;
            &:first-child {
                margin-right: 2%;
            }
            &:nth-child(2) {
                a {
                    i {
                        color: $magenta;
                        transition: all 0.3s ease;
                        &:hover {
                            color: $email-hover;
                        }
                    }
                }
            }
            &:nth-child(3) {
                a {
                    i {
                        color: $linkedin-blue;
                        transition: all 0.3s ease;
                        &:hover {
                            color: $linkedIn-hover;
                        }
                    }
                }
            }
            &:nth-child(4) {
                a {
                    i {
                        color: $github-black;
                        transition: all 0.3s ease;
                        &:hover {
                            color: $github-hover;
                        }
                    }
                }
            }
            a {
                &:visited {
                    color: white;
                }
            }
        }
    }
    p {
        text-align: center;
        font-size: 12px;
        position: relative;
        top: 11px;
    }
}