canvas {
    background: #1f083e;
    background: radial-gradient(#41135a, #130033); //#41135a
}

h1 {
    position: absolute;
    font-size: 50px;
    left: 500px;
    top: 300px;
    color: white;
    z-index: 1;
    font-family: $header-font;
}

h3 {
    position: absolute;
    font-size: 50px;
    left: 558px;
    top: 353px;
    color: white;
    z-index: 1;
    font-family: $header-font;
    font-weight: 100;
    font-size: 2rem;
}