#lightbox {
    margin-top: -4%;
    background: rgba(65, 19, 90, 0.65);
    color: white;
    position: fixed;
    z-index: 9999;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    h2,
    h4 {
        color: $orange;
        padding-top: 2%;
    }
    span {
        color: $darker-purple;
        font-size: 15px;
        cursor: pointer;
        position: relative;
        left: 29%;
        -webkit-transition: 0.3s ease;
        transition: 0.3s ease;
        &:hover {
            background: $darker-purple;
            color: white;
        }
    }
    #lightbox-content {
        margin-top: -4%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        text-align: center;
        position: relative;
        background-color: #fefefe;
        margin: auto;
        margin-bottom: 12rem;
        padding: 0;
        width: 90%;
        max-width: 1000px;
        color: $dark-gray;
        img {
            width: 60%;
        }
        button {
            background: $orange;
            border-radius: 1rem;
            font-size: 15px;
            padding: 0.8%;
            border: none;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            transition: 0.3s linear;
            position: relative;
            &:hover {
                background: $darker-orange;
                transform: translatey(2px);
            }
            a {
                text-decoration: none;
            }
        }
    }
}