@import './mixins/media.scss';
@import './variables.scss';
@import './nav.scss';
@import './aboutme.scss';
@import './header.scss';
@import './home.scss';
@import './skills.scss';
@import './footer.scss';
@import './portfolio.scss';
@import './lightbox.scss';
canvas {
    width: 100%
}

nav {
    position: relative;
    overflow-x: hidden;
}