nav {
    display: flex;
    position: sticky;
    top: 0;
    background: white;
    z-index: 9999;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    height: 4rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    @include desktop {
        padding: 0 3rem;
    }
    h2 {
        position: relative;
        font-family: 'Dancing Script', cursive;
        color: $magenta;
        font-size: 1.5rem;
        transform: rotate;
        transform: rotate;
        transform: rotate(-30deg);
        @include desktop {
            font-size: 2.2rem;
        }
        span {
            position: absolute;
            top: 16%;
        }
    }
    ul {
        display: flex;
        list-style-type: none;
        justify-content: flex-end;
        font-size: 0.9rem;
        @include desktop {
            font-size: 1.5rem;
        }
        li {
            margin-right: 10px;
            cursor: pointer;
            transition: all 0.3s ease;
            &:hover {
                color: black;
            }
        }
    }
}