#skills {
    h2 {
        text-align: center;
        color: white;
    }
    &:before {
        content: '';
        position: absolute;
        width: 118vw;
        height: 25rem;
        background: linear-gradient(to right, #78f0d2, #84b5da);
        z-index: -9999;
        transform: rotate(-5deg);
        left: -10%;
    }
    div {
        // @include desktop {
        // }
        display: flex;
        justify-content: space-evenly;
        .skill-item {
            @include desktop {
                padding: 0.5rem;
            }
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            background: white;
            border-radius: 1rem;
        }
    }
}

h2 {
    font-family: $header-font;
}

svg {
    width: 7%;
}