$header-font: 'Ovo',
serif;
$orange: #ffaa6c;
$darker-orange: #de8b4f;
$lighter-purple: rgb(65, 19, 90);
$darker-purple: rgb(19, 0, 51);
$dark-gray: #6f6e6e;
$magenta: #E91E63;
$linkedin-blue: #0077B5;
$linkedIn-hover: rgb(14, 64, 92);
$github-black: #24292e;
$github-hover: #3f4246;
$footer-gray: #a0a0a0;
$email-hover: rgb(163, 22, 69);